language: python
arch:
  - amd64
  - ppc64le
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
jobs:
 exclude:
  - arch: ppc64le
    python: 3.5
install: # No dependencies
script:
  - pip install -U pip setuptools
  - pip install .[test]
  - pytest
